<!DOCTYPE html>
<html>
<head>
  <title>CoderDojoNYC - Upload Your Code :)</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="span9"><%= yield %></div>

</body>
</html>
